Лабораторная работа 1. Задание 1

In [1]:
import pandas as pd

Пункт 1-2: Загрузка таблицы с сайта и оформление таблцы к "рабочему виду"

In [3]:
# Загружаем данные с правильной ссылки на файл с таблицей
url = "https://pstu.ru/files/file/Abitur/2025%20final/%D0%A4%D0%9F%D0%9C%D0%9C_%D0%91_%D0%9D_000007052.html"

print(f"Загружаем данные с: {url}")

try:
    # Загружаем таблицы с помощью pd.read_html, пропускаем первые 11 строк
    tables = pd.read_html(url, skiprows=11)
    
    for i, table in enumerate(tables):
        print(f"\nТаблица {i+1}: {table.shape}")
        print(table.head())
        
except Exception as e:
    print(f"Ошибка при загрузке: {e}")

Загружаем данные с: https://pstu.ru/files/file/Abitur/2025%20final/%D0%A4%D0%9F%D0%9C%D0%9C_%D0%91_%D0%9D_000007052.html

Таблица 1: (64, 13)
    0               1             2                   3   \
0  NaN             NaN           NaN                 NaN
1    №  Уникальный код  Сумма баллов  АиНМА / Математика
2    1         3839999           248                  82
3    2         4841617           243                  90
4    3         3950298           243                  76

                                4             5                   6   \
0                              NaN           NaN                 NaN
1  ИТ / Информатика и ИКТ / Физика  Русский язык  Сумма баллов за ИД
2                               83            83                   0
3                               80            73                   0
4                               84            83                   0

               7                           8   \
0             NaN                         NaN
1  Учебная группа       Представление приказа
2      ИСТ -25-1б  № 07-08/10-С от 07.08.2025
3      ИСТ -25-2б  № 07-08/10-С от 07.08.2025
4      ИСТ -25-1б  № 07-08/10-С от 07.08.2025

                                                  9   \
0                                                NaN
1  Идентификационный номер заказчика целевого обу...
2                                                NaN
3                                                NaN
4                                                NaN

                                        10  11  12
0                                      NaN NaN NaN
1  Номер предложения (для целевого приема) NaN NaN
2                                      NaN NaN NaN
3                                      NaN NaN NaN
4                                      NaN NaN NaN

In [4]:
# Обрабатываем загруженные данные
if 'tables' in locals() and len(tables) > 0:
    # Берем первую таблицу
    df = tables[0]
    
    # Устанавливаем строку 1 как заголовки
    df.columns = df.iloc[1]
    df = df.drop(df.index[0:2]).reset_index(drop=True)
    
    # Убираем лишние столбцы
    df = df.iloc[:, :-2]
    
    columns_to_remove = ['Идентификационный номер заказчика целевого обучения (для целевого приема)', 
                        'Номер предложения (для целевого приема)']
    df = df.drop(columns=columns_to_remove, errors='ignore')
    
    columns_to_remove = ['№', 'Уникальный код', 'Представление приказа', 'Учебная группа']
    df = df.drop(columns=columns_to_remove, errors='ignore')
    
    # Переименовываем индексы (начинаем с 1)
    df.index = range(1, len(df) + 1)
    
    pd.set_option('display.max_columns', None)
    pd.set_option('display.width', None)
    pd.set_option('display.max_colwidth', 15)
    pd.set_option('display.max_rows', None) #все строки
    
    display(df)
    
else:
    print("Не удалось загрузить таблицы")

1,Сумма баллов,АиНМА / Математика,ИТ / Информатика и ИКТ / Физика,Русский язык,Сумма баллов за ИД
1,248,82,83,83,0
2,243,90,80,73,0
3,243,76,84,83,0
4,242,82,78,82,0
5,241,70,85,81,5
6,238,78,78,82,0
7,237,82,90,60,5
8,234,82,82,70,0
9,233,80,75,78,0
10,233,74,68,91,0
11,232,80,80,72,0
12,230,86,70,69,5
13,229,82,77,70,0
14,227,80,72,75,0
15,227,76,78,73,0
16,227,72,80,75,0
17,224,74,67,83,0
18,223,82,75,66,0
19,222,78,72,72,0
20,221,78,80,63,0
21,221,72,80,64,5
22,220,80,59,81,0
23,220,72,78,70,0
24,219,72,83,64,0
25,219,72,83,64,0
26,218,70,80,63,5
27,217,70,80,67,0
28,214,80,67,67,0
29,214,70,75,69,0
30,213,72,80,61,0
31,212,80,62,70,0
32,211,74,70,67,0
33,211,74,68,69,0
34,211,72,78,61,0
35,210,80,67,63,0
36,210,76,67,67,0
37,209,82,67,60,0
38,209,70,70,69,0
39,209,70,64,75,0
40,208,82,59,67,0
41,208,74,64,70,0
42,208,74,62,72,0
43,208,72,78,58,0
44,208,70,65,73,0
45,208,60,74,74,0
46,207,76,62,69,0
47,207,70,70,67,0
48,207,65,60,82,0
49,206,82,61,63,0
50,206,72,70,64,0
51,206,64,78,64,0
52,205,76,72,57,0
53,205,70,62,73,0
54,205,68,55,82,0
55,204,78,54,72,0
56,204,76,67,61,0
57,203,70,72,61,0
58,203,64,70,69,0
59,203,58,72,73,0
60,202,74,64,64,0
61,202,55,65,82,0
62,200,70,60,70,0

Пункт 3: Проверка типов данных и приведение к числовому типу

In [5]:
# Проверяем типы данных в столбцах
print("Типы данных в столбцах:")
print(df.dtypes)
print("\n" + "="*50)

# Показываем информацию о данных
print("\nИнформация о данных:")
print(df.info())
print("\n" + "="*50)

# Проверяем количественные столбцы и приводим к числовому типу
numeric_columns = ['Сумма баллов', 'АиНМА / Математика', 'ИТ / Информатика и ИКТ / Физика', 
                   'Русский язык', 'Сумма баллов за ИД']

print("\nПриводим количественные столбцы к числовому типу:")
for col in numeric_columns:
    if col in df.columns:
        print(f"Обрабатываем столбец: {col}")
        print(f"Тип до преобразования: {df[col].dtype}")
        
        # Преобразуем в числовой тип
        df[col] = pd.to_numeric(df[col], errors='coerce')
        
        print(f"Тип после преобразования: {df[col].dtype}")
        print(f"Количество пропущенных значений: {df[col].isna().sum()}")
        print("-" * 30)

print("\n" + "="*50)
print("Итоговые типы данных:")
print(df.dtypes)

Типы данных в столбцах:
1
Сумма баллов                       object
АиНМА / Математика                 object
ИТ / Информатика и ИКТ / Физика    object
Русский язык                       object
Сумма баллов за ИД                 object
dtype: object

==================================================

Информация о данных:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 1 to 62
Data columns (total 5 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Сумма баллов                     62 non-null     object
 1   АиНМА / Математика               62 non-null     object
 2   ИТ / Информатика и ИКТ / Физика  62 non-null     object
 3   Русский язык                     62 non-null     object
 4   Сумма баллов за ИД               62 non-null     object
dtypes: object(5)
memory usage: 2.6+ KB
None

==================================================

Приводим количественные столбцы к числовому типу:
Обрабатываем столбец: Сумма баллов
Тип до преобразования: object
Тип после преобразования: int64
Количество пропущенных значений: 0
------------------------------
Обрабатываем столбец: АиНМА / Математика
Тип до преобразования: object
Тип после преобразования: int64
Количество пропущенных значений: 0
------------------------------
Обрабатываем столбец: ИТ / Информатика и ИКТ / Физика
Тип до преобразования: object
Тип после преобразования: int64
Количество пропущенных значений: 0
------------------------------
Обрабатываем столбец: Русский язык
Тип до преобразования: object
Тип после преобразования: int64
Количество пропущенных значений: 0
------------------------------
Обрабатываем столбец: Сумма баллов за ИД
Тип до преобразования: object
Тип после преобразования: int64
Количество пропущенных значений: 0
------------------------------

==================================================
Итоговые типы данных:
1
Сумма баллов                       int64
АиНМА / Математика                 int64
ИТ / Информатика и ИКТ / Физика    int64
Русский язык                       int64
Сумма баллов за ИД                 int64
dtype: object

Пункт 4: Статистика по суммарным баллам

In [6]:
# Определяем статистику по суммарным баллам
print("Статистика по суммарным баллам:")
print("=" * 40)

# Средний балл
mean_score = df['Сумма баллов'].mean()
print(f"Средний суммарный балл: {mean_score:.2f}")

# Минимальный балл
min_score = df['Сумма баллов'].min()
print(f"Минимальный суммарный балл: {min_score}")

# Максимальный балл
max_score = df['Сумма баллов'].max()
print(f"Максимальный суммарный балл: {max_score}")

Статистика по суммарным баллам:
========================================
Средний суммарный балл: 216.84
Минимальный суммарный балл: 200
Максимальный суммарный балл: 248

Пункт 5: Средние значения по предметам ЕГЭ

In [7]:
# Определяем средние значения по предметам ЕГЭ
print("Средние значения по предметам ЕГЭ:")
print("=" * 50)

# Вычисляем средние значения по каждому предмету
math_mean = df['АиНМА / Математика'].mean()
it_mean = df['ИТ / Информатика и ИКТ / Физика'].mean()
russian_mean = df['Русский язык'].mean()

print(f"Средний балл по математике: {math_mean:.2f}")
print(f"Средний балл по ИТ/Информатике/Физике: {it_mean:.2f}")
print(f"Средний балл по русскому языку: {russian_mean:.2f}")

print("\n" + "=" * 50)

# Создаем новую таблицу для средних значений
subjects = ['Математика', 'ИТ/Информатика/Физика', 'Русский язык']
averages = [math_mean, it_mean, russian_mean]

# Создаем DataFrame с средними значениями
averages_df = pd.DataFrame({
    'Предмет': subjects,
    'Средний балл': averages
})

print("Новая таблица со средними значениями:")
display(averages_df)

print("\n" + "=" * 50)

# Определяем предмет с наибольшим средним баллом
max_subject = averages_df.loc[averages_df['Средний балл'].idxmax()]
print(f"Предмет с наибольшим средним баллом:")
print(f"Предмет: {max_subject['Предмет']}")
print(f"Средний балл: {max_subject['Средний балл']:.2f}")

Средние значения по предметам ЕГЭ:
==================================================
Средний балл по математике: 74.39
Средний балл по ИТ/Информатике/Физике: 71.74
Средний балл по русскому языку: 70.31

==================================================
Новая таблица со средними значениями:

          Предмет  Средний балл
0      Математика     74.387097
1  ИТ/Информат...     71.741935
2    Русский язык     70.306452

==================================================
Предмет с наибольшим средним баллом:
Предмет: Математика
Средний балл: 74.39

Пункт 6: Определение абитуриентов типа "Тип_1"

In [8]:
# Определяем абитуриентов типа "Тип_1"
print("Определение абитуриентов типа 'Тип_1':")
print("=" * 50)

# Вычисляем средние баллы по предметам
math_mean = df['АиНМА / Математика'].mean()
it_mean = df['ИТ / Информатика и ИКТ / Физика'].mean()
russian_mean = df['Русский язык'].mean()

print(f"Средний балл по математике: {math_mean:.2f}")
print(f"Средний балл по ИТ/Информатике/Физике: {it_mean:.2f}")
print(f"Средний балл по русскому языку: {russian_mean:.2f}")

print("\n" + "=" * 50)

# Определяем условия для типа "Тип_1"
# Русский язык ниже среднего, остальные предметы выше среднего
condition_type1 = (
    (df['Русский язык'] < russian_mean) &  # Русский ниже среднего
    (df['АиНМА / Математика'] > math_mean) &  # Математика выше среднего
    (df['ИТ / Информатика и ИКТ / Физика'] > it_mean)  # ИТ выше среднего
)

# Подсчитываем количество абитуриентов типа "Тип_1"
type1_count = condition_type1.sum()
print(f"Количество абитуриентов типа 'Тип_1': {type1_count}")

# Показываем абитуриентов типа "Тип_1"
type1_students = df[condition_type1]
print(f"\nАбитуриенты типа 'Тип_1':")
if len(type1_students) > 0:
    display(type1_students[['АиНМА / Математика', 'ИТ / Информатика и ИКТ / Физика', 'Русский язык', 'Сумма баллов']])
else:
    print("Абитуриентов типа 'Тип_1' не найдено")

print("\n" + "=" * 50)
print(f"Итого: {type1_count} абитуриентов из {len(df)} соответствуют типу 'Тип_1'")
print(f"Процент от общего числа: {(type1_count/len(df)*100):.1f}%")

Определение абитуриентов типа 'Тип_1':
==================================================
Средний балл по математике: 74.39
Средний балл по ИТ/Информатике/Физике: 71.74
Средний балл по русскому языку: 70.31

==================================================
Количество абитуриентов типа 'Тип_1': 6

Абитуриенты типа 'Тип_1':

1,АиНМА / Математика,ИТ / Информатика и ИКТ / Физика,Русский язык,Сумма баллов
7,82,90,60,237
8,82,82,70,234
13,82,77,70,229
18,82,75,66,223
20,78,80,63,221
52,76,72,57,205

==================================================
Итого: 6 абитуриентов из 62 соответствуют типу 'Тип_1'
Процент от общего числа: 9.7%

Пункт 7: Определение абитуриентов типа "Тип_2"

In [9]:
# Определяем абитуриентов типа "Тип_2"
print("Определение абитуриентов типа 'Тип_2':")
print("=" * 50)

# Вычисляем средние баллы по предметам
math_mean = df['АиНМА / Математика'].mean()
it_mean = df['ИТ / Информатика и ИКТ / Физика'].mean()
russian_mean = df['Русский язык'].mean()

print(f"Средний балл по математике: {math_mean:.2f}")
print(f"Средний балл по ИТ/Информатике/Физике: {it_mean:.2f}")
print(f"Средний балл по русскому языку: {russian_mean:.2f}")

print("\n" + "=" * 50)

# Определяем условия для типа "Тип_2"
# Русский язык выше среднего, остальные предметы ниже среднего
condition_type2 = (
    (df['Русский язык'] > russian_mean) &  # Русский выше среднего
    (df['АиНМА / Математика'] < math_mean) &  # Математика ниже среднего
    (df['ИТ / Информатика и ИКТ / Физика'] < it_mean)  # ИТ ниже среднего
)

# Подсчитываем количество абитуриентов типа "Тип_2"
type2_count = condition_type2.sum()
print(f"Количество абитуриентов типа 'Тип_2': {type2_count}")

# Показываем абитуриентов типа "Тип_2"
type2_students = df[condition_type2]
print(f"\nАбитуриенты типа 'Тип_2':")
if len(type2_students) > 0:
    display(type2_students[['АиНМА / Математика', 'ИТ / Информатика и ИКТ / Физика', 'Русский язык', 'Сумма баллов']])
else:
    print("Абитуриентов типа 'Тип_2' не найдено")

print("\n" + "=" * 50)
print(f"Итого: {type2_count} абитуриентов из {len(df)} соответствуют типу 'Тип_2'")
print(f"Процент от общего числа: {(type2_count/len(df)*100):.1f}%")

Определение абитуриентов типа 'Тип_2':
==================================================
Средний балл по математике: 74.39
Средний балл по ИТ/Информатике/Физике: 71.74
Средний балл по русскому языку: 70.31

==================================================
Количество абитуриентов типа 'Тип_2': 9

Абитуриенты типа 'Тип_2':

1,АиНМА / Математика,ИТ / Информатика и ИКТ / Физика,Русский язык,Сумма баллов
10,74,68,91,233
17,74,67,83,224
39,70,64,75,209
42,74,62,72,208
44,70,65,73,208
48,65,60,82,207
53,70,62,73,205
54,68,55,82,205
61,55,65,82,202

==================================================
Итого: 9 абитуриентов из 62 соответствуют типу 'Тип_2'
Процент от общего числа: 14.5%

Пункт 8: Итоговая таблца

In [10]:
# Вычисляем необходимые значения
total_students = len(df)
mean_total_score = df['Сумма баллов'].mean()
min_total_score = df['Сумма баллов'].min()
max_total_score = df['Сумма баллов'].max()

# Определяем предмет с высшим средним баллом
math_mean = df['АиНМА / Математика'].mean()
it_mean = df['ИТ / Информатика и ИКТ / Физика'].mean()
russian_mean = df['Русский язык'].mean()

if math_mean > it_mean and math_mean > russian_mean:
    best_subject = "Математика"
elif it_mean > russian_mean:
    best_subject = "ИТ/Информатика/Физика"
else:
    best_subject = "Русский язык"

# Подсчитываем количество студентов каждого типа
condition_type1 = (
    (df['Русский язык'] < russian_mean) &
    (df['АиНМА / Математика'] > math_mean) &
    (df['ИТ / Информатика и ИКТ / Физика'] > it_mean)
)

condition_type2 = (
    (df['Русский язык'] > russian_mean) &
    (df['АиНМА / Математика'] < math_mean) &
    (df['ИТ / Информатика и ИКТ / Физика'] < it_mean)
)

type1_count = condition_type1.sum()
type2_count = condition_type2.sum()

# Создаем итоговый DataFrame
summary_df = pd.DataFrame({
    "Подразделение": ["Факультет прикладной математики и механики"],
    "Уровень подготовки": ["Бакалавриат"],
    "Направление подготовки/специальность": ["Информационные системы и технологии"],
    "Год": [2025],
    "Количество мест": [62],
    "Предметы ЕГЭ": ["Математика, ИТ/Информатика/Физика, Русский язык"],
    "Средняя сумма баллов": [round(mean_total_score, 2)],
    "Min сумма баллов": [min_total_score],
    "Max сумма баллов": [max_total_score],
    "Предмет с высшим средним": [best_subject],
    "Кол-во студентов тип_1": [type1_count],
    "Кол-во студентов тип_2": [type2_count]
})

print("Итоговая таблица:")
display(summary_df)

Итоговая таблица:

,Подразделение,Уровень подготовки,Направление подготовки/специальность,Год,Количество мест,Предметы ЕГЭ,Средняя сумма баллов,Min сумма баллов,Max сумма баллов,Предмет с высшим средним,Кол-во студентов тип_1,Кол-во студентов тип_2
0,Факультет п...,Бакалавриат,Информацион...,2025,62,"Математика,...",216.84,200,248,Математика,6,9